Repository imjoy-team/imjoy-rpc, pull requests merged in 2021-04, with the labels that each got.

#106 Fix linter error
  python/tests/test_jupyter_rpc.py
Labels: bug

#108 Fix default action working directory
  .github/workflows/release.yml
  .github/workflows/test-python.yml
Labels: ci

#109 Fix release action version detection command
  .github/workflows/release.yml
Labels: ci, github_actions

#110 Fix js release version detection and publish
  .github/workflows/release.yml
Labels: ci, github_actions

#111 Reactivate npm publish
  .github/workflows/release.yml
Labels: ci, github_actions

#112 Switch action to create a new tag
  .github/workflows/release.yml
Labels: ci, github_actions

#113 Fix version detection step name
  .github/workflows/release.yml
Labels: ci, github_actions

#114 Add label action
  .github/labels.yml
  .github/workflows/labeler.yml
Labels: ci, github_actions

#116 Fix PyPI publish target dir
  .github/workflows/release.yml
  javascript/package-lock.json
  javascript/package.json
  python/imjoy_rpc/VERSION
Labels: ci, github_actions

#122 Fix interface update bug
  javascript/package-lock.json
  javascript/package.json
  javascript/src/rpc.js
  python/imjoy_rpc/VERSION
  python/imjoy_rpc/rpc.py
Labels: bug
